.list-single::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    content: "";
}

.list-single {
    position: relative;
}

.list-single:hover .list-absolute {
    bottom: 30px;
}

.list-single:hover .showHover {
    opacity: 1;
    height: auto;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.opacity-1 {
    opacity: 1;
}

.tablinks.active {
    border-bottom: 2px solid var(--ap-primary);
}


input[type="radio"]:checked + label span {
    background-color: var(--ap-cta-bg);
    border: 2px solid #fff;
}

form#advanced-search input[type="checkbox"]:checked + label span {
    background-color: var(--ap-cta-bg);
    border: 2px solid #fff;
}

.location-single:hover .opacity-0 {
    opacity: 1 !important;
    --tw-bg-opacity: 1 !important;
}

.location-single:hover h3 {
    bottom: 150px !important;
}

#popUp.active {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 9999 !important;
}

#gbp > div,
#lang > div,
.main-menu a {
    line-height: 37px;
}

.dropdown-parent:hover .menu-dropdown {
    opacity: 1;
    visibility: visible;
    z-index: 50;
    margin-top: -5px;
}

.menu-dropdown {
    min-width: 180px;
}

.menu-square {
    width: 24px;
    height: 24px;
}

.main-menu li:nth-last-child(2) a,
.main-menu li:last-child a {
    width: 137px;
    line-height: 35px;
}

.bd-r,
.bd-l {
    width: 4px;
}

.bd-t,
.bd-b {
    width: 0;
    height: 4px;
}

.location-single::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
    transition: .3s;
}

.location-single::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .7);
    transition: .5s;
}

.location-single:hover .bd-r,
.location-single:hover .bd-l {
    height: 100%;
    bottom: 0;
}

.location-single:hover .bd-t,
.location-single:hover .bd-b {
    width: 100%;
}

.location-single:hover::after {
    width: 100%;
}

.list-single:hover .swiper-slide div[class*="bg-opacity-40"] {
    --tw-bg-opacity: 0.5;
}

.list-single:hover .swiper-slide div[class*="bg-opacity-20"] {
    --tw-bg-opacity: 0.3;
}

a {
    transition: .5s;
}

a:hover {
    opacity: 1;
    /*opacity: 0.8;*/
}


@media (min-width: 1536px) {
    .container:not(.filter-container) {
        max-width: 1280px !important;
    }
}


section#testimonials span.swiper-pagination-bullet, .swiper-pagination-hero .swiper-pagination-bullet {
    margin-left: 0.5rem;
}

.team-member-contact-details {
    color: var(--ap-cta-bg);
}

@media (min-width: 1024px) {
    .slide-title-container {
        top: unset;
    }
}

.noscroll {
    overflow: hidden;
}

a.nav-text:hover, a.nav-text:focus {
    color: var(--ap-primary);
}

a#valuation-cta:hover {
    color: white !important;
}

a#about-find-out-more:hover {
    color: var(--ap-primary);
    border-color: var(--ap-primary);
}

select.select-carat {
    background-image: url("/themes/theme-3/assets/img/down-carat.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

section#accreditations img {
    filter: grayscale(100%);
}

div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
    height: 100vh;
}

@media (max-width: 1023px) {
    .slide-title-container, .hero-video-title-container > div:first-of-type {
        bottom: 23rem;
    }

    /* for some reason these don't seem to work in tailwind.config.js */
    .bottom-88 {
        bottom: 22rem;
    }

    .bottom-104 {
        bottom: 26rem;
    }

    .bottom-112 {
        bottom: 28rem;
    }
}

@media (min-width: 1024px) {
    div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
        height: calc(100vh - 30px) !important;
    }
}

@media (min-width: 1280px) {
    div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
        height: 80vh !important;
    }
}

div.vertical-social-share {
    right: -10rem;
}

.swiper-pagination-current, .swiper-pagination-total {
font-size: inherit;
}

body.property-index div.justify-between span.modal-button:hover {
    background-color: var(--ap-primary);
    color: white;
    border-color: var(--ap-primary);
}

a#download-pdf:hover {
    background-color: var(--ap-cta-bg);
    color: white;
}

a.view-article:hover {
    border-color: var(--ap-primary);
    background-color: transparent;
    color: var(--ap-primary);
}

div#logo-wrapper img { height: 72px !important; }
@media (max-width: 639px) {
    div#logo-wrapper img { height: 48px !important;  }
}

/* for some reason this also doesn't seem to work in tailwind.config.js */
.h-fit {
    height: fit-content;
}

body.areaguide-index div#area-guide-hero-search {
    margin-top: 120px;
}

body.areaguide-index div#area-guide-hero-search .bg-black {
    background-color: transparent;
}

@media (min-width: 1023px) {
    form#home-search input[name=reference]::placeholder, .listings-index input[name=reference]::placeholder {
        color: #fff;
    }
}

@media (max-width: 1023px) {
    div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
        height: calc(100vh - 104px);
    }
}

@media (max-width: 1023px) {
    div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
        height: calc(100vh - 104px);
    }

    .swiper-pagination-hero-container {
        bottom: 16.5rem;
    }
}

@media (max-width: 767px) {
    div#home-hero-wrapper, #home-slides .swiper-slide > div:first-of-type, .hero-video-container > div:first-of-type, .hero-video-title-container {
        height: calc(100vh - 175px);
    }
}

@media (max-width: 400px) {
    .contact-index .site-email, .contact-index .site-tel {
        font-size: 0.75rem !important;
    }
}

/*small*/
@media (max-width: 1279px) {
    datalist:not(.w-11\/12) {
        width: calc(100% + 10px) !important;
    }
}

datalist > div
{
    -webkit-box-shadow: inset 0px -6px 7px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -6px 7px -4px rgba(0,0,0,0.5);
    box-shadow: inset 0px -6px 7px -4px rgba(0,0,0,0.5);
}

datalist:not(.w-11\/12) {
    width: calc(100% + 10px) !important;
}

datalist.bottom-20 {
    bottom: 4.78rem;
    width: 100% !important;
}

/*large and up*/
@media (min-width: 1024px) {
    datalist {
        left: 0.8rem !important;
        bottom: 2.75rem !important;
        width: calc(100% + 3px) !important;
    }
}

/*large and up*/
@media (min-width: 1280px) {
    datalist {
        left: 0.8rem !important;
        bottom: 2.75rem !important;
        width: 100% !important;
    }
}

/* width */
datalist ::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

/* Track */
datalist ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
    margin-top: 4px;
}

/* Handle */
datalist ::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
datalist ::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.location-datalist-container datalist option.active {
    background-color: var(--ap-primary);
    color: #fff;
}

.location-single {
    cursor: pointer;
}

.property-index #enquire {
    scroll-margin-top: 15rem;
}

.popular-search-button:hover {
    border-color: var(--ap-primary);
}

@media (max-width: 639px) {
    .property-index #enquire {
        scroll-margin-top: 6rem !important;
    }
}

#back-to-listings-button {
    border-radius: 9999px;
}

input.location-datalist-input { background-color: transparent; }
body.home-index input[name="location"] { color: black; }
body.home-index div#location-datalist input.location-datalist-input { background-color: white; border: none !important; }
body.home-index div.full-screen-filter div#location-datalist input.location-datalist-input { background-color: transparent !important; border-bottom: 1px solid rgba(203,203,203, 0.3) !important; font-size: 1rem; padding-left: 4px; color: white; }

div.full-screen-filter  div.clear-search-button svg { fill: white !important; stroke: white !important; }
datalist.top-10 { top: 2.8rem; }

/*
-------------------------------------------------------
-------------     Multi Select System     -------------
-------------------------------------------------------
*/

div.multi-property-type-options-list {
    max-height: 6rem;
    overflow-y: auto;
}

body.listings-index div.multi-property-type-options-list span.rounded-sm {
    border: 1px solid var(--ap-primary);
}

/* small */
@media (min-width: 0px) and (max-width: 639px) {

    body.listings-index div.multi-property-type-options-list {
    }

    body.listings-index div.multi-property-type-options-list div {
    }

}

/* medium */
@media (min-width: 640px) and (max-width: 767px) {

}

/* large */
@media (min-width: 768px) and (max-width: 1023px) {

    body.listings-index div.multi-property-type-options-list {
        top: 1.5rem;
        max-height: 12rem;
    }

}

/* XL */
@media (min-width: 1024px) and (max-width: 1535px) {

    body.listings-index div.multi-property-type-options-list {
        position: absolute;
        top: 2.5rem;
        max-height: 12rem;
        width: 24.5rem !important;
    }

}

/* 2XL */
@media (min-width: 1536px) {

    body.listings-index div.multi-property-type-options-list {
        top: 2.5rem;
        max-height: 12rem;
        width: 37rem !important;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}
